body {
    font-family: monospace;  /* Set a monospaced font for a console-like feel */
    margin: 0;  /* Remove default body margin */
}

.container {
    background-color: #030303;  /* Set a dark background color */
    color: #fffff2;  /* Set white text color */
    padding: 100px;
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 10px;  /* Add rounded corners to the container */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);  /* Add subtle shadow */
    display: flex;  /* Use flexbox for layout */
}

.left-box, .center-box, .right-box {
    flex: 1;  /* Make each box flex to fill available space equally */
    padding: 10px;  /* Add internal padding */
    border: 2px solid rgb(90, 90, 90);  /* Add white border with thickness */
    border-radius: 5px;  /* Add rounded corners to boxes */
    margin: 5px;  /* Add some margin between boxes */
    text-align: center; /* Center content within each box */
}

.container:after {  /* Add horizontal bottom line */
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(26, 22, 22);
    margin-top: 20px;  /* Add space above the line */
}
