<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubmitAsciiArt</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 align = "center">ASCI-ART WEB</h1><br><br>
  
   <h1 align="center">😟Sorry, We Have An Error😟</h1>
  <section>
    <h1 align="center">{{ .Code}}</h1>
    <h2 align="center"><pre>{{ .Issue }}</pre></h2>
  </section>
  <div class="back">
  <a href="/">Go Back</a>
  </div>
</body>
</html>



